/*
Main Color: #000000
Sec Color: #53346D
linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(83, 52, 109, 0.75))
*/

.gradient-bg,
.appsLand-btn.appsLand-btn-gradient:before,
.mini-feature .mini-feature-box .icon-box:before,
.pricing .pricing-tables .pricing-recommended .pricing-price,
.faq .questions-container .panel-heading a.gradient-bg,
.normal-post .entry-content .entry-post-info .posted-on,
.list-post .entry-content .entry-post-info .posted-on,
.loading {
    background-image: -webkit-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: -o-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: -moz-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: linear-gradient(to right, #000000 0%, #53346D 100%);
}
.without_bg_images .app-overlay {
    background-image: -webkit-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: -o-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: -moz-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: linear-gradient(to right, #000000 0%, #53346D 100%);
}
.gradient-text,
.section-title.style-gradient h2,
.appsLand-btn.appsLand-btn-default,
.appsLand-btn.appsLand-btn-gradient:hover span,
.appsLand-btn.appsLand-btn-gradient:hover i,
.appsLand-btn.appsLand-btn-gradient.btn-inverse span,
.appsLand-btn.appsLand-btn-gradient.btn-inverse i,
.mini-feature .mini-feature-box .icon-box i,
.pricing .pricing-tables .pricing-price p {
    background-image: -webkit-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: -o-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: -moz-linear-gradient(to right, #000000 0%, #53346D 100%);
    background-image: linear-gradient(to right, #000000 0%, #53346D 100%);
}
.main-color-text,
.appsLand-navbar.active-navbar .navbar-nav > li:hover,
.appsLand-navbar.active-navbar .navbar-nav > li.active,
.features__style-2 .feat-tabs li a:hover,
.features__style-2 .feat-tabs li.active a,
.team .team-member .member-info .member-social a:hover,
.blog .normal-post .entry-content .entry-post-info h4 a:hover,
.blog .normal-post .entry-content .entry-expert .post-readMore a.read-more-link,
.blog .list-post .entry-content .entry-post-info h4 a:hover,
.blog .list-post .entry-content .entry-expert .post-readMore a.read-more-link,
.apps-footer .footer-bottom p a {
    color: #000000;
}
.sec-color-text,
.blog .normal-post .entry-content .entry-expert .post-readMore a:hover,
.blog .list-post .entry-content .entry-expert .post-readMore a:hover,
.apps-footer .footer-bottom p a:hover {
    color: #53346D;
}

.app-overlay,
.gradient-bg-rgba,
.appsLand-navbar.navBar__style-2.active-navbar,
.team__style-2 .team-member .member-info {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(83, 52, 109, 0.75) 100%);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(83, 52, 109, 0.75) 100%);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(83, 52, 109, 0.75) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(83, 52, 109, 0.75) 100%);
}

.section-title.style-gradient > span:before {
    background-image: -webkit-linear-gradient(to right, #000000 0%, rgba(83, 52, 109, 0.3) 100%);
    background-image: -o-linear-gradient(to right, #000000 0%, rgba(83, 52, 109, 0.3) 100%);
    background-image: -moz-linear-gradient(to right, #000000 0%, rgba(83, 52, 109, 0.3) 100%);
    background-image: linear-gradient(to right, #000000 0%, rgba(83, 52, 109, 0.3) 100%);
}
.section-title.style-gradient > span:after {
    background-image: -webkit-linear-gradient(to right, #53346D 0%, rgba(83, 52, 109, 0.3) 100%);
    background-image: -o-linear-gradient(to right, #53346D 0%, rgba(83, 52, 109, 0.3) 100%);
    background-image: -moz-linear-gradient(to right, #53346D 0%, rgba(83, 52, 109, 0.3) 100%);
    background-image: linear-gradient(to right, #53346D 0%, rgba(83, 52, 109, 0.3) 100%);
}
.section-title.style-gradient > span > span {
    border-image: 1 linear-gradient(135deg, #000000 0%, #53346D 100%);
}

.main-color-bg,
.appsLand-btn.appsLand-btn-blue,
.appsLand-btn.appsLand-btn-blue.btn-rgba:hover,
.appsLand-navbar.active-navbar .menu-toggle .chart {
    background: #000000;
}

.border-main-color, .features__style-2 .feat-tabs li.active {
    border-color: #000000;
}


.gradient-text-rgba,
.testimonials .testimonials-template .testimonials-slide:before,
.contact .contact-form:before {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(83, 52, 109, 0.2) 100%);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(83, 52, 109, 0.2) 100%);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(83, 52, 109, 0.2) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(83, 52, 109, 0.2) 100%);
}
/*linear-gradient(to right, #000000, #53346D);*/